<div class="container product">
    <div class="row">
        <div class="offset4 span4">
            <img src="img/futon.png" alt="futon">
            <div class="page-header">
              <h1>Futon <small>CouchDB Admin</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Select a couch to manage</h3>
        <ul class="known_couch">

        </ul>


        <form class="form-inline">
            <input type="text" class="input-xxlarge" id="couch_url" placeholder="Couch Root Url" />
            <button type="submit" class="btn">Connect</button>
        </form>

    </div>
</div>

