<div class="container product">
    <div class="row">
        <div class="offset4 span4">
            <img src="img/futon.png" alt="futon">
            <div class="page-header">
              <h1>Futon <small>CouchDB Admin</small></h1>
            </div>
        </div>
    </div>
</div>

