@import "jam/bootstrap/less/bootstrap.less";
@import "jam/SlickGrid/slick.grid.less";

.slick-row {
  height: 40px;
  font: normal 10px "DejaVu Sans Mono",Menlo,Courier,monospace;
}

.slick-row:hover {
  background-color: @grayLighter;
  cursor: pointer;
}

.slick-cell:hover {
  cursor: pointer;
  font-size: 105%;
}

.slick-row pre {
  padding: 0;
}

#editor {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 600px;
 }