<table class="table table-condensed">
    <thead>
        <tr>
            <th>Flags</th>
            <th>Key</th>
            <th>ID</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody class="results">

    </tbody>
</table>